[submodule "neut-generic-interface"]
	path = neut-generic-interface
	url = git@github.com:neut-devel/neut.git
	branch = feature/INCL_generic_interface
[submodule "incl-generic-interface"]
	path = incl-generic-interface
	url = git@github.com:annab101/INCLanna.git
	branch = tom_incl_interface
[submodule "nuwro-generic-interface"]
	path = nuwro-generic-interface
	url = git@github.com:NuWro/nuwro.git
	branch = master

[submodule "INCL_python_analysis"]
	path = INCL_python_analysis
	url = git@github.com:tpeacock123/INCL_python_analysis.git
	branch = main
